/* BASE STYLES
============================================================================= */
body{
    background: #f5f5f5;
}
textarea { resize:none; }
.table th {
   text-align: center;   
}
.navbar-balance{
	float: right;
	color:#f3f3f3;
	padding-top:20px;
	font-size: 1.1em;
	margin-right: 40px;
}

#input_message{
	color:red;
}
#settingstitle{
	left:0;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	color:#3f3f3f;
	letter-spacing: 0.5px;
	line-height: 1.1;
}
#settings{
	width:90%;
	margin-left: 5%;
	margin-top:-10%;
}
.form-control {
	border-radius: 4px;
	height: 3.2em;
	width: 100%;
	padding-left: 20px;
	border: 1px solid rgba(200, 200, 200, 0.3);
	text-shadow: none;
	color:#000;
	box-shadow: none;
	font-family: open-sans-regular;
	-webkit-appearance: none;
}
#letabset{
    width: 800px;
	color:#333;
}


#overview-title{

  cursor: pointer;
  letter-spacing: 0.5px;
}
#overview-title
li{
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 100px
}

a{
	cursor: pointer;
}
.nav nav-tabs{
	cursor: pointer;
	font-size: 1.2em;
	display: inline-block;
	float: left;
	width: 800px;
}


#wallet_name{
  color:#333;
}

#walletsideheader{
	text-align: center;
	font-weight:bold;
}
.inactive {
    border: none;
    background-color: #333;
}

#createwallet{
	text-align: center;
}

table{
	text-align: center;
}
.navbar{
	position: relative;
	margin: 0 auto;
	padding: 0;
	background-color: #a9a9a9;

}

#brand{
	padding-top:16%;
	color: white;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(102,128,200,0.5);
	display: inline-block;
	font-size: 14px;
}

#topnavigation{

	position: relative;
	/*float: right;*/
	display: block;
	width: auto;

	text-align: right;
	border: 0;
	z-index: 1000;
	list-style-image: none;
	font-size: 0;
	height: 70px;
	margin: 0;
	padding: 0;

}
#topnavigation li{
	position: relative;
	background: none;
	display: inline-block;
	list-style: none;
	border: 0;
	height: 70px;
	text-align: center;

	margin: 0;
	padding: 0;
}

#topnavigation li a{ 
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	line-height: 2em;
	/*background: rgba(0,0,0,0.35);*/
	margin: 0 1px 0 0;
	display: block;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.5px;
	color: white;
	width: 80px;
	height: 70px;
	border: 0;

	border-top: none;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);

	padding-top: 25%;
	.panel-heading{
		color: #333;
		background-color: #f5f5f5;
		border-color: #ddd;
	}
}
#lepanel{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	/*background: rgba(0,0,0,0.25);*/
	width:23%;
	border-radius: 7px;
	margin-top: -5%;
	margin-left: 3%;
	color:#333;

}
.pull-left {
	float: left !important;
}
hr {
	margin: 10px -25px;
}
#separator {
	margin: 10px -25px;
	border: 0;
	border-top: 1px solid transparent;
}

.panel-heading {
	padding: 1.6em;
	cursor: pointer;
	border-bottom:1.2px solid red;
	border-color: #f0f0f0;
}

#user-info{
	/*background: rgba(0,0,0,0.35);*/
	height: auto;
}
#assets{
	margin-top: -10%;
}
#asset_select{
	margin-left: -4%;
}
table{
	color:#000;
}
#trade_main{
	margin-left: 20px; 
	margin-right: 20px;
	margin-top: -10%;
}

#overview{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	/*background: rgba(0,0,0,0.35);*/
	background: #fff;
	margin-top: -20%;
	margin-left: 30%;
}

#sell{
	width:300px;
}

#tradepane{
	padding-left: 20%;
	margin-top: 5%;
}

#buy{
	width: 300px;
	margin-left: 40%;
}

#pane{
	background: rgba(0, 0, 0, 0.5);
	margin-top: -12%;
	height:100%;
	color:#333;
}
.col-md-8 ,.col-md-2{
  padding:10px;
}

#issue{
	width:90%;
	margin-top: -8%;
	padding-left: 10%;
}
.error {
	display: block;
	font-size: 12px;
	color: red;
}

#send_asset_selector{
	margin-top:5%;
}
select.input-sm {
	height: 3em;
	line-height: 30px;
}
label {
	line-height: 1.1;
	color:#3f3f3f;
	font-family: open-sans-light;
	font-size: 16px;
}

select:not([multiple]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	line-height: normal !important;
}
.nav li a{
	color:#333;
}
.page {
	background: rgba(0,0,0,0);
	padding: 4em 0 2em;

	/*background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background-attachment: fixed;*/
	color: #000;
	text-align: center;
}
.page { 
   
    bottom:0; 
    padding-top:200px;
    left:0px;
    position:absolute; 
    text-align:center;
    top:0; 
    width:100%; 
    color:#000;
}

/* PAGES
============================================================================= */

/* ANIMATIONS
============================================================================= */


/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-home.ng-enter         {  
 -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;

}

/* about ------------------------ */
.page-assets.ng-leave        {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-assets.ng-enter        {  
   -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
    
}

/* contact ---------------------- */
.page-send.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-send.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.page-assets.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-assets.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
.page-trade.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-trade.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
.page-settings.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-settings.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

@-webkit-keyframes scaleDown {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateY(100%); }
}
@keyframes moveToBottom {
    to { transform: translateY(100%); }
}

