/*Font Icons
=============================================================================*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


/* BASE STYLES
============================================================================= */
body{
    background: #f9f9f9;
}
#addwalletname{
    border: 0;
}

textarea { resize:none; }
.table th {
   text-align: center;   
}
.navbar-balance{
	float: right;
	color:#cacaca;
	padding-top:20px;
	font-size: 1.1em;
	margin-right: 40px;
}

#input_message{
	color:red;
}
#settings_title{
	left:0;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	color:#3f3f3f;
	letter-spacing: 0.5px;
	line-height: 1.1;
	top:10px;
}

#settings_container{
	top:40px;
}

#issue{
	width:90%;
	margin-left: 5%;
}
#settings{
	width:90%;
	margin-left: 5%;
}
.form-control {
	border-radius: 4px;
	height: 3.2em;
	width: 100%;
	padding-left: 20px;
	border: 1px solid rgba(200, 200, 200, 1);
	text-shadow: none;
	color:#000;
	box-shadow: none;
	font-family: open-sans-regular;
	-webkit-appearance: none;
}
#letabset{
    width: 800px;
	color:#333;
}

#overview-title{
  cursor: pointer;
  letter-spacing: 0.5px;
}
#overview-title
li{
    cursor: pointer;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 100px
}

a{
	cursor: pointer;
}
.nav nav-tabs{
	cursor: pointer;
	font-size: 1.2em;
	display: inline-block;
	float: left;
	width: 800px;
}

#wallet_name{
  color:#333;
  cursor: pointer
}
#wallet_name:hover{
   background-color:#cacaca;
}

#walletsideheader{
	text-align: center;
	font-weight:bold;
}
.inactive {
    border: none;
    background-color: #333;
}

#createwallet{
	text-align: center;
}

table{
	text-align: center;
}
.navbar{
	position: fixed;
	margin: 0 auto;
	padding: 0;
	background-color: #a9a9a9;
}

thead{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#brand{
	padding-top:16%;
	color: white;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(102,128,200,0.5);
	display: inline-block;
	font-size: 14px;
}

#topnavigation{
	position: relative;
	/*float: right;*/
	display: block;
	width: auto;

	text-align: right;
	border: 0;
	z-index: 1000;
	list-style-image: none;
	font-size: 0;
	height: 55px;
	/*height: 70px;*/
	width: 100%;
	margin: 0;
	padding: 0;

}
#topnavigation li{
	position: relative;
	background: none;
	display: inline-block;
	list-style: none;
	border: 0;
	height: 100%;
	width: 20%;
	text-align: center;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

#topnavigation li a{ 
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 2em;
	/*background: rgba(0,0,0,0.35);*/
	/*margin: 0 1px 0 0;*/
	display: block;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	letter-spacing: 0.5px;
	color: white;
	width: 100%;
	height: 100%;
	border: 0;

	border-top: none;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	/*
	padding-top: 25%;
	.panel-heading{
		color: #333;
		background-color: #f5f5f5;
		border-color: #ddd;
	}
	*/
}

#topnavigation li a:hover{
	
	color: black;
}

#lepanel{
	background-color: #F7F7F7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	/*background: rgba(0,0,0,0.25);*/
	border-radius: 7px;
	margin-left: 3%;
	color:#333;

}
.pull-left {
	float: left !important;
}
hr {
	margin: 10px -25px;
}
#separator {
	margin: 10px -25px;
	border: 0;
	border-top: 1px solid transparent;
}
.panel-heading {
	padding: 1.6em;
	cursor: pointer;
	border-bottom:1.2px solid red;
	border-color: #f0f0f0;
}

#assets{
	margin-top: -5%;
}
#asset_select{
	margin-left: -4%;
}
table{
	color:#000;
}
/*trade.html*/
.panel {
width: 100%;
height: 120px;
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.tbox {
background-color: #2E3D4E;
min-height: 120px;
padding: 25px;
}
.box-icon {
display: block;
float: left;
margin: 0 15px 10px 0;
padding-top:20px;
width: 70px;
height: 70px;
line-height: 60px;
vertical-align: middle;
text-align: center;
font-size: 35px;
border-radius: 4px;
}
.box-info p {
margin: 0;
font-size: 1.2em;
}

#overview{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	background: #F9F9F9;
	margin-left: 1%;
	/*background: rgba(0,0,0,0.35);
	margin-top: -8%;
	margin-left: 30%;*/
}


#display_asset:hover{
background-color: #BAC0C7;

}


/*send.html begins*/


#sell{
	width:300px;
}
#send_size{
	width:80%;
}
#send_cols{
	height:80px;
	padding:10px;
}
#send_asset_selector{
	height:38px;
}
#send_cols input{
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:0px;
}

/*send end*/


#tradepane{
	padding-left: 20%;
	margin-top: 5%;
}

#buy{
	width: 300px;
	margin-left: 40%;
}

#pane{
	background: rgba(0, 0, 0, 0.5);
	margin-top: -12%;
	height:100%;
	color:#333;
}
.col-md-8 ,.col-md-2{
  padding:10px;
}

.error {
	display: block;
	font-size: 12px;
	color: red;
}

select.input-sm {
	height: 3em;
	line-height: 30px;
}
label {
	line-height: 1.1;
	color:#3f3f3f;
	font-family: open-sans-light;
	font-size: 16px;
}

select:not([multiple]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	line-height: normal !important;
}
.nav li a{
	color:#333;
}
.page {
	background: rgba(0,0,0,0);
	padding: 4em 0 2em;

	/*background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
	background-attachment: fixed;*/
	color: #000;
	text-align: center;
    bottom:0; 
    padding-top:0px;
    left:0px;
    position:absolute; 
    text-align:center;
    top:70px;
	overflow-y:scroll;	
    width:100%; 
    color:#000;
}
/*
login.html
*/

#login{
	margin-top:3%;
		border-radius: 0.5rem;
}
#login_button{
	 margin: 0;
    background-color: transparent;
    text-align: center;
}

#login_form{
	background-color: #E9E9E9;
	color:#fff;
}
input,button {
	width: 100%;
	margin-bottom: 1.4rem;
	padding: 1rem;
	/*#ecf2f4
		background-color: #0a9af3;*/

    background-color: #BAC0C7;;
	border-radius: 0.2rem;
	border: none;
}

/* settings.html*/
#notifications_list{
	display:block;
	padding:0;
	text-align: left;
	width:100%;
}
#notifications_list label{
	display:block;
}
#notifications_list input{
	width:20px;
}

#settings_baseunits{
	font-size:20px;
}

#settings_security_header{
	margin-top:20px;
}

.settingsfileupload{
	width: 100%;
    border-radius: 0.2rem;
    background:#BAC0C7;
    border: none;
}
.settingsfileupload span {
	 position: absolute;
	 text-align: left;
	 margin-left: -50px;
	 padding: 1rem;
	}
.settingsfileupload input {
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
}
.fileupload {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 0.2rem;
    background:#BAC0C7; /* and other things to make it pretty */
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0; 
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0);
 
    height: 200px;
}
/* PAGES
============================================================================= */

/* ANIMATIONS
============================================================================= */

/* header ----------------------------*/
.header-zero{
	-webkit-animation: moveFromLeft .4s ease both;
	z-index: 6;
}

.header-one{
	-webkit-animation: moveFromLeft .4s ease both;
	-webkit-animation-delay: .3s;
	z-index: 5;
}

.header-two{
	-webkit-animation: moveFromLeft .4s ease both;
	-webkit-animation-delay: .6s;
	z-index: 4;
}

.header-three{
	-webkit-animation: moveFromLeft .4s ease both;
	-webkit-animation-delay: .9s;
	z-index: 3;
}

.header-four{
	-webkit-animation: moveFromLeft .4s ease both;
	-webkit-animation-delay: 1.2s;
	z-index: 2;
}

.header-five{
	-webkit-animation: moveFromLeft .4s ease both;
	-webkit-animation-delay: 1.5s;
	z-index: 1;
}

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-home.ng-enter         {  
 -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;

}

/* about ------------------------ */
.page-assets.ng-leave        {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-assets.ng-enter        {  
   -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
    
}

/* settings --------------------- */
.barrel.ng-hide-add.ng-hide-add-active,
.barrel.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 1.5s;
  transition:all linear 1.5s;
}

.barrel.ng-hide {
  opacity:0;
}
#barrel_button{
    height:60px;
    width:100%;
    border-radius: 4px;
    font-size: 2em;
    color: #333;
	background-color: #c9c9c9;
	border-color: #ccc;
	 border-bottom: 2px solid #A7A7A7;
}

#barrel_button:hover {
    background: rgba(0,0,0,0.35);
    height:60px;
}

#wallet_list{
	  -webkit-transition: 0.5s linear all;
	box-shadow: 0 0 5px;
	bottom:0px;
	/*visibility:hidden;*/
	background:#cacaca;
	position:absolute;
	z-index: 10;
	width:100%;
	height:60%;
}
/* contact ---------------------- */
.page-send.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-send.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}

.page-assets.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-assets.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
.page-trade.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-trade.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
.page-settings.ng-leave      {
    -webkit-animation: scaleDown .6s ease both;
    -moz-animation: scaleDown .6s ease both;
    animation: scaleDown .6s ease both;
}
.page-settings.ng-enter      { 
  -webkit-animation: moveFromTop .6s ease both;
    -moz-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both;
}
/* slide */

.page-login.ng-enter {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.page-login.ng-leave {
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

@-webkit-keyframes scaleDown {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
    from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
    from { transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateY(100%); }
}
@keyframes moveToBottom {
    to { transform: translateY(100%); }
}

@-webkit-keyframes moveFromLeft {
    from {-webkit-transform: translateX(-100%);}
}
@-moz-keyframes moveFromLeft {
    from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { transform: translateX(-100%); }


/* move from / to  */

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webki