            <div class="row">
                <h3>Create Multisig address</h3>
                <label>name or label
                  <input type="text" placeholder="Friends Bank" class="form-control ng-pristine ng-valid" ng-model="multisigName">
                </label>
                <div class="row">
                  <div class="small-12 medium-6 large-6 columns">
                    <label>Your Wallet Password <small data-options="disable_for_touch:true" class="has-tip ng-scope" tooltip="doesn't need to be shared">Required</small>
                    <input type="password" placeholder="Choose your password" class="form-control ng-scope ng-pristine ng-invalid ng-invalid-required" ng-model="$parent.walletPassword">
                    </label>
                  </div>
                </div>
                <div class="box-setup">
                  <fieldset>
                  <div class="row">
                    <div class="large-6 medium-6 columns line-dashed-v">
                      <label>Select total number of participants
                      <select ng-model="participants" ng-options="" class="ng-pristine ng-valid"></select>
                      </label>
                    </div>
                    <div class="large-6 medium-6 columns">
                      <label>Select required participant signatures
                      <select ng-model="requiredParticipants" ng-options="" class="ng-pristine ng-valid"></select>
                      </label>
                    </div>
                  </div>
                  </fieldset>
                </div>
            </div>