<div id ="lepanel" class="panel panel-default col-md-3">
    <div>
        <div class="panel-heading">
            <h4 class="panel-title">
                Accounts
            </h4>
        </div>
        <div id="user-info" class="panel" >
            <div class="panel-body">
                <div class="panel" ng-click="generateWallet(WalletName)">
                    <div class="wallet_name text-muted">
                        <p class="stats-label pull-center">new Wallet</p>
                    </div>
                </div>
                <div class="wallet_name text-muted">
                    <input id="addWalletName" type="text" class="form-control input-sm" ng-model="WalletName"
					>
					<div style="display:none"> {{ WalletName }} </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--lepanel-->