
   <div id ="lepanel" class="panel panel-default">
                          <div>
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Accounts
                                    </h4>
                                </div>
                            <div id="user-info" class="panel" >
                              <div class="panel-body">

                                <hr id="separator" class="panel-heading-hr">

                                <div class="panel-progress">
                                    <div class="wallet_name text-muted">
                                        ba
                                    </div>
                                 
                                    </div>
                                    <hr>
                                    <div class="wallet_name text-muted">
                                        <p class="stats-label pull-left">Your Bandwidth <i class="fa fa-question-circle tooltip-icon" data-toggle="tooltip" data-placement="top" title="Bandwidth is consumed when uploading or downloading files based on the size of files transferred."></i></p>
                                        <span class="pull-right text-muted">100.00 GB</span>
                                    </div>
                                    <hr>
                                    <div class="wallet_name text-muted">
                                        <p class="stats-label pull-left">Estimated Storage<i class="fa fa-question-circle tooltip-icon" data-toggle="tooltip" data-placement="top" title="Your storage capacity is based on the bandwidth you use. On upload the file will use 3x the filesize. Downloads will also spend bandwidth."></i></p>
                                        <span class="pull-right text-muted">33.00 GB</span>
                                    </div>
                                 

                            </div>
                          </div>
                        </div>
                    </div><!--lepanel-->




