        <div class="row">
        	<div class="col-md-4">
        	    <h3>Bitcoin Information</h3>
                <div class="container"  id="totalbtcinfo">
					<ul class="btcinfo" id="marketinfo"><div><span>Market Cap</span>&nbsp;&nbsp;&nbsp; <span>&nbsp;&nbsp;&nbsp;&nbsp;7.32 b</span></div><div><span>Volume <span>(BTC)</span>&nbsp; </span><span>&nbsp;&nbsp;10,751</span></div><div><span>Total <span>(BTC)</span> </span><span>&nbsp; 13.07 MM</span></div></ul>
					<ul class="btcinfo" id="mininginfo"><div><span>Block Time</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.37 Min</span></div><div><span>Next Difficulty</span> <span>&nbsp; &nbsp; 8 Days</span></div><div><span>Hash Rate</span> <span>&nbsp;&nbsp; 160,199,693</span></div> </ul><!--mining info-->

				</div>
			</div>
			<div class="col-md-8">
			</div>
        </div>