        <div class="row">
        	    <h3>Bitcoin Information</h3>
                <div class="col-md-3"  id="totalbtcinfo">
					<ul class="btcinfo" id="marketinfo"><div><span>Market Cap</span>&nbsp;&nbsp;&nbsp; <span>&nbsp;&nbsp;&nbsp;&nbsp;7.32 b</span></div><div><span>Volume <span>(BTC)</span>&nbsp; </span><span>&nbsp;&nbsp;10,751</span></div><div><span>Total <span>(BTC)</span> </span><span>&nbsp; 13.07 MM</span></div></ul>
					<ul class="btcinfo" id="mininginfo"><div><span>Block Time</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.37 Min</span></div><div><span>Next Difficulty</span> <span>&nbsp; &nbsp; 8 Days</span></div><div><span>Hash Rate</span> <span>&nbsp;&nbsp; 160,199,693</span></div> </ul><!--mining info-->

				</div>
				<div class="col-md-3"></div>
				<div class="col-md-3" id="btcprice">
					<div class="border-bottom" id="indexprice">560.83$</div>
					<div class="border-bottom" id="exchanges"><p>Exchange<a id="next" href="#"><span>&nbsp;&nbsp;Bitstamp</span></a></p><p>Currency<span><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USD</a></span></p></div>
			    </div>
        </div>