<div ng-controller="TransactionsController">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th class="name"><a ng-click="sort_by('name')">Name&nbsp;</a></th>
				<th class="address"><a ng-click="sort_by('address')">Address&nbsp;</a></th>
				<th class="balance"><a ng-click="sort_by('balance')">Balance&nbsp;</a></th>
				<th class="token"><a ng-click="sort_by('token')">Token&nbsp;</a></th>
			</tr>
			<tr>
				<th class="Download"><a ng-click="generate()">Download&nbsp;</a></th>
			</tr>
		</thead>
		<tfoot>
			<td colspan="6">
				<div class="pagination">
					<ul class="pagination">
						<li ng-class="{disabled: currentPage == 0}">
							<a href ng-click="prevPage()">« Prev</a>
						</li>
						<li ng-repeat="n in range(pagedTransactions.length)"
							ng-class="{active: n == currentPage}"
							ng-click="setPage()">
							<a href ng-bind="n + 1">1</a>
						</li>
						<li ng-class="{disabled: currentPage == pagedTransactions.length - 1}">
							<a href ng-click="nextPage()">Next »</a>
						</li>
					</ul>
				</div>
			</td>
		</tfoot>
		<tbody>
			<tr ng-repeat="transaction in pagedTransactions[currentPage]">
				<td>{{transaction.name}}</td>
				<td>{{transaction.address}}</td>
				<td>{{transaction.balance}}</td>
				<td>{{transaction.token}}</td>
			</tr>
		</tbody>
	</table>
</div>