
   <div id="addform" class="panel panel-default col-md-4">
   <div class="panel-heading" ><span class="panel-title">Add Asset</span></div>
    <div class="panel-body">
      <form novalidate name="itemForm">
        <table>
          <tr>
                        <td>Asset/Currency Name: </td>
            <td><input name="name" type="text" ng-model="item.Name" required ng-pattern="name" /></td>
          </tr>
          <tr>
            <td>BTC: </td>
            <td><input name="price" type="text" ng-model="item.BTC" required  valid-price /></td>
          </tr>
          <tr>
            <td>Unit: </td>
                        <td><input name="quantity" type="number" ng-model="item.Units" min="1" ng-pattern="integerval" required /></td>
          </tr>
          <tr>
            <td colspan="2"><input type="Button" class="btn square " value="Add" ng-click="addItem(item)" ng-disabled="itemForm.$invalid" /> </td>
          </tr>
        </table>
      </form></div></div><!--add form-->
<form ng-controller="IssueController" ng-submit="processForm()" id="issue" role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Asset/currency name:</label>
    <input type="text" ng-model="formData.moniker" class="form-control" id="monikerinput" placeholder="Land">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Amount:</label>
    <input type="text" ng-model="formData.amount" class="form-control" id="amountinput" placeholder="10,000">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Units:</label>
    <input type="text" ng-model="formData.units" class="form-control" id="unitsinput" placeholder="10,000,000">
  </div>
  <button style="width: 300px;
height:50px;" type="submit" class="btn btn-default">Issue</button>  <button style="width: 300px;
height:50px;"  type="submit" class="btn btn-default">Cancel</button>
 <pre>
    {{ formData }}
    <span class="help-block" ng-show="error">{{ error }}</span>
    <div id="messages" ng-show="message">{{ message }}</div>
  </pre>
<input type="text" name="fruitName" ng-model="data.fruitName" blacklist="coconuts,bananas,pears" required/>
       <span class="invalid" ng-show="myForm.fruitName.$error.blacklist">
          The phrase "{{data.fruitName}}" is blacklisted</span>
       <span class="invalid" ng-show="myForm.fruitName.$error.required">required</span>
       <br/>
       <button type="submit" ng-disabled="myForm.$invalid">Submit</button>
</form>