<div ng-controller="NavigationController">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">ChromaWallet</a>
      </div>
      <div >
        <div class="navbar-collapse collapse">
        <ul id="topnavigation" class="nav navbar-nav">
         <li ng-class="navClass('Home')" ><a href="#Home">Wallet</a></li>
    <li ng-class="navClass('Receive')"><a href="#Receive">Receive</a></li>
    <li ng-class="navClass('Send')" ><a href="#Send">Send</a></li>
     <li ng-class="navClass('Issue')"><a href="#Issue">Issue</a></li>
     <li ng-class="navClass('Trade')"><a href="#Trade">Trade</a></li>
         <li >
            <a href="#Settings" ng-click="openSettings()">
               Settings 
            </a>
            
         </li>
      </ul>
        </div>
      </div>
  </nav>
</div>