<div ng-controller="NavigationController">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

		<div class="navbar-header">
			<a id="brand" class="navbar-brand" href="#Home">ChromaWallet</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul id="topnavigation" class="nav navbar-nav">
				<!-- what point of navClass-->
				<li ng-class="navClass('Home')">
				<a href="#Home" ng-class="{'header-zero':doInit}">Home</a></li>
				<li ng-class="navClass('Assets')">
				<a href="#Assets" ng-class="{'header-one':doInit}">Assets</a></li>
				<li ng-class="navClass('Send')">
				<a href="#Send" ng-class="{'header-two':doInit}">Send</a></li>
				<li ng-class="navClass('Issue')">
				<a href="#Issue" ng-class="{'header-three':doInit}">Issue</a></li>
				<li ng-class="navClass('Trade')">
				<a href="#Trade" ng-class="{'header-four':doInit}">Trade</a></li>
				<li ng-class="navClass('Settings')">
				<a href="#Settings" ng-class="{'header-five':doInit}">Settings</a></li>
			</ul>     
			<div class="navbar-balance">			
				<div data-bal data-value="balance"></div>
			</div>
		</div>
	</nav>
</div>