<div >
    <div ng-include="'view/partials/sidemenu.html'"></div>
    <div id="overview" class='col-md-8'>
        <div class="panel-heading">
            <h4 id="overview-title" class="panel-title">
                Main Menu
            </h4>
        </div>
        <hr id="separator">
        <div >
            <tabset id="letabset">
                <tab  id="first" heading="Main"  ng-click="subPage='view/partials/main.html'">
                    <ng-include src="subPage"></ng-include>
                </tab>
                <tab heading="Transactions" ng-click="subPage='view/partials/transactions.html'">
                    <ng-include src="subPage"></ng-include>
                </tab>
                </tab>
                <tab heading="Addresses" ng-click="subPage='view/partials/addresses.html'">
                    <ng-include src="subPage"></ng-include>
                </tab>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<!--Transactions and Addresses Panel -->