<div id="receive" class="panel panel-default">
    <div class="panel">
   <div class="panel-heading" ><span class="panel-title">Wallet</span></div>
    <div class="panel-body">
 <div >
<div ng-controller="ReceiveAssets">
    <div>Sort by: 
            <select ng-model="sortExpression">
          <option value="Name">Name</option>
          <option value="BTC">BTC Amount</option>
          <option value="Units">Units</option>
        </select>
            </div>
      <br />
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Balance</td>
            <td>Units</td>
            <td>Address</td>
            <td>Remove</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | orderBy:mySortFunction | filter:search">
            <td>{{item.Name}}</td>
            <td>{{item.BTC | btc}}</td>   
            <td>{{item.Units}}</td>
               <td>{{item.Address}}</td>
            <td><input type="button" value="Remove" ng-click="removeItem($index)" /></td>
          </tr>
        </tbody>
      </table>
      <br />
      <div>Total Balance: {{totalBTC()}}</div>
      <br />
       <div id="addform" class="panel panel-default col-md-4">
   <div class="panel-heading" ><span class="panel-title">Add Asset</span></div>
    <div class="panel-body">
      <form novalidate name="itemForm">
        <table>
          <tr>
                        <td>Asset/Currency Name: </td>
            <td><input name="name" type="text" ng-model="item.Name" required ng-pattern="name" /></td>
          </tr>
          <tr>
            <td>BTC: </td>
            <td><input name="price" type="text" ng-model="item.BTC" required  valid-price /></td>
          </tr>
          <tr>
            <td>Unit: </td>
                        <td><input name="quantity" type="number" ng-model="item.Units" min="1" ng-pattern="integerval" required /></td>
          </tr>
          <tr>
            <td colspan="2"><input type="Button" class="btn square " value="Add" ng-click="addItem(item)" ng-disabled="itemForm.$invalid" /> </td>
          </tr>
        </table>
      </form></div></div><!--add form-->
           
    </div>
</div><!--receive-->
</div>
</div>
</div>