<div class="block" id="panel-receive">
  <div class="block_head">
    <div class="bheadl"></div>
    <div class="bheadr"></div>
    <h2>Receive</h2>
  </div><!-- END .block_head -->
  <div class="block_content">
    <section class="receive-panel">
       <h3>Assets</h3>
       <table class="color-table">
         <thead>
           <tr>
             <td class="color-table__color-name-heading">Color</td>
             <td>Balance</td>
             <td>Address</td>
             <td>
               <button class="color-table__add-color-button">Add color</button>
             </td>
           </tr>
         </thead>
         <tbody>
           <tr class="color-table__clone-row color-table__color">
             <td class="color-table__color-name">???</td>
             <td class="color-table__color-balance"></td>
             <td class="color-table__color-address">
               <input class="color-table__color-address-field"
                      type="text" readonly/>
             </td>
             <td class="color-table__color-action"><a class="color-table__color-hide-button" href="#">Hide</a></td>
           </tr>
         </tbody>
       <table>
    </section>
  </div><!-- END .block_content -->
  <div class="bendl"></div>
  <div class="bendr"></div>
</div><!-- END .block -->
