
<form ng-controller="SendController" ng-submit="processForm()" id="issue" role="form">
  <!--<form id="issue">-->
   
     <div class="input-group  col-xs-12">
  <div class="input-group-btn">
    <!-- Button and dropdown menu -->
    <div class="btn-group">
<select id="sendasset" class="form-control" data-size="auto">
      <option>Land</option>
      <option>XYX coin</option>
      <option>storage</option>
  </select>
</div>
  </div>
  <input type="text" class="form-control" ng-model="item.btc" id="tosend" placeholder="10.00 btc">
</div>

  <div class="form-group ">
  <input type="text" class="form-control col-xs-12" ng-model="item.address" id="tosend" placeholder="Address"></div>
     <div  class="col-xs-4" id="sendBalance">Available Balance: {{totalBTC}}</div>
   <div class="col-xs-9"  style=" padding-left:300px;padding-top:40px;">

  <button style="width: 400px;
height:50px;" type="submit" ng-click="send(item)" class="btn btn-default">Send</button> </div>
</form>



