
<form ng-controller="SendController" ng-submit="processForm()" id="issue" role="form">
  <!--<form id="issue">-->
  <div class="form-group" role="form">

    <div class="col-md-8">
    <input type="text" class="form-control" ng-model="item.btc" id="tosend" placeholder="10.00 btc"></div>   <div class="col-md-2"><select id="sendasset" class="form-control" data-size="auto">
      <option>Land</option>
      <option>XYX coin</option>
      <option>storage</option>
  </select></div>
  </div>
  <div class="form-group">
   <div class="col-md-8">
    <input type="text" class="form-control" ng-model="item.address" id="tosend" placeholder="1Xsdtwafg2342dsfs4gsfgsdFDg"></div>
  </div>
   <div class="col-xs-9"  style=" padding-top:40px;">
  <button style="width: 400px;
height:50px;" type="submit" ng-click="send(item)" class="btn btn-default">Send</button> </div>
</form>

