
<div class="block-area" id="settings">
	<div class="col-md-4 form-group">
		<div class="row">
		<h2 class="pull-left">Currency</h2> 
		</div>
		<div class="row">
		<select style="width: 100%;" class="pull-left" id="settings_baseunits" data-size="auto">
			<option>USD</option>
			<option>EURO</option>
			<option>YEN</option>
		</select>
		</div>
		<div id="settings_security_header" class="row">
		<h2 class="pull-left">Security</h2> 
		</div>
		<div class="row">
			<label>Change Password</label>
			<input type="text" class="input-sm validate[required] form-control" placeholder="Current Password">
		</div>
		<div class="row">
			<label>New Password</label>
			<input type="text" class="input-sm validate[required] form-control" placeholder="New Password">
		</div>
		<div class="row">
			<input type="text" class="input-sm validate[required] form-control" placeholder="Confirm Password">
		</div>
		<div class="row">
		<input type="button" value="Change Password" ng-click="passwordChangedSubmit()">
		</div>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-5">
		<div class="row">
		<h2 class="pull-left">Notifications</h2> 
		</div>
		<div class="row pull-left" id="notifications_list">
			<label><input type="checkbox" />Convert to Base Unit Automatically</label>
			<label><input type="checkbox"/>Disable Trade</label>
			<label><input type="checkbox"/>Show Balance</label>
			<label><input type="checkbox"/>Disable Multisignature Sharing service</label>

		</div>
		<div class="row">
			<input type="button" value="Remove Wallet">
			<input type="button" value="Backup Wallet">
			<input type="button" value="Import Wallet">
		</div>
	</div>
	<div class="col-md-1">
		
	</div>
	
</div>