<div id ="lepanel" class="panel panel-default">
    <div  class="panel-heading clearfix">
      <h4 class="panel-title pull-center" >Wallet</h4>
      </div>
      <div>
      <ul class="list-group">
    <a href="#"><li  class="list-group-item">Overview</li></a>
    <a href="#"><li  class="list-group-item" >Addresses</li></a>
    <a href="#"><li  class="list-group-item">History</li></a>
 </ul>
</div>

<!--Add Wallet-->
<div ng-controller="TextBtnCtrl">
 <span editable-text="user.name" e-form="textBtnForm">
    {{ user.name || 'empty' }}
  </span>
  <a  ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
    Create
  </a></div>

<table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-1">Column 1</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Data</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>Content</td>
                </tr>
        </tbody>
    </table>

    </div>
<!--Add Wallet-->



