
    
    <div id="pane" class="col-md-2">
      <!-- tabs left -->
      <div id="left">
        <ul class="nav">
          <h3>Tabs -left</h3>
           <li ng-class="{active:isActive('/wallet')}"><a href="#wallet"><i class="fa fa-th-list"></i> Wallet</a></li>
          <li ng-class="{active:isActive('/send')}"><a href="#send"><i class="fa fa-share"></i> Send</a></li>
          <li ng-class="{active:isActive('/contacts')}"><a href="#contacts"><i class="fa fa-users"></i> Contacts</a></li>
      <li ng-class="{active:isActive('/lobby')}"><a href="#lobby"><i class="fa fa-comments"></i> Lobby</a></li>
        </ul>

      <!-- /tabs -->
      
    </div>
    
   