  <!--Asset Selector-->
  <div id="trade_main">
        <div class="col-md-6">
            <div class="trade_panel">

                    <ng-include src="subPage"></ng-include>
             
            </div>            
        </div>
        <!-- AssetHistory -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a id="first2" ng-click="subPage='view/partials/trade_price.html'"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-btc"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">36 <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-i18n="Growth">BTC info</span></p>
                        </div>
                    </div></a>
                </div>
                <div class="col-md-6">
                    <a ng-click="subPage='view/partials/trade_tokens.html'"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-bank"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">352</p>
                            <p class="text-muted"><span data-i18n="New users">Find Tokens</span></p>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a ng-click="subPage='view/partials/trade_multisig.html'"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4,120</p>
                            <p class="text-muted"><span data-i18n="Profit">Multisignatures</span></p>
                        </div>
                    </div></a>
                </div>
                <div class="col-md-6">
                    <a ng-click="subPage='view/partials/trade_history.html'"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-bars"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">313</p>
                            <p class="text-muted"><span data-i18n="Sales">History</span></p>
                        </div>
                    </div></a>
                </div>
            </div>
            <!-- end stats -->            
        </div>
    </div>
</div>