  <!--Asset Selector-->
  <div id="trade_main">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-body">
                      {{View}}
                </div>
            </div>            
        </div>
        <!-- AssetHistory -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a ng-click="btcprice()"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-btc"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">36 <span class="size-h4">%</span></p>
                            <p class="text-muted"><span data-i18n="Growth">BTC Price</span></p>
                        </div>
                    </div></a>
                </div>
                <div class="col-md-6">
                    <a ng-click="findtokens()"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-bank"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">352</p>
                            <p class="text-muted"><span data-i18n="New users">Find Tokens</span></p>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a ng-click="multisign()"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4,120</p>
                            <p class="text-muted"><span data-i18n="Profit">Multisignatures</span></p>
                        </div>
                    </div></a>
                </div>
                <div class="col-md-6">
                    <a ng-click="history()"><div class="panel tbox">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-bars"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">313</p>
                            <p class="text-muted"><span data-i18n="Sales">History</span></p>
                        </div>
                    </div></a>
                </div>
            </div>
            <!-- end stats -->            
        </div>
    </div>
</div>